#login_header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    color: red;

}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;


}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 242, 242);
    border-radius: 10px;
    margin-left: 30rem;
    margin-top: 4rem;
    height: 35rem;
    width: 32rem;

}

 input:hover {
     border: 1px solid skyblue;
 }

 div {
     margin-right: 6px;
     margin-bottom: 15px;
 }