
.App {
  text-align: center;
}


#home {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#sign_up{
    text-decoration: none;
      color: white;
      font-weight: bold;
}
.box {
  width: 100%;
}